[Desktop Entry]
Name=Astro Linux Welcome
GenericName=Astro Linux Welcome
X-GNOME-FullName=Astro Linux Welcome
Comment=Welcome Application for Astro Linux Installs
Exec=/usr/local/bin/astrolinux-welcome-app
Icon=astrolinux-logo
Terminal=false
Type=Application
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=welcome;tool;
StartupNotify=true
